apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - mett-app-config.yaml
  - mett-pyhmmer-pv.yaml
  - mett-pyhmmer-pvc.yaml
  - mett-redis.yaml
  - mett-dataportal-api-deployment.yaml
  - mett-dataportal-app-deployment.yaml
#  - mett-celery-beat.yaml
  - mett-celery-worker.yaml


images:
  - name: quay.io/microbiome-informatics/mett-dataportal-api
    newTag: v0.0.194
  - name: quay.io/microbiome-informatics/mett-dataportal-react-app
    newTag: v0.0.194