# macOS
.DS_Store

# PyCharm
../.idea

# Artefacts
.env.local

# Artefacts
db.*
*.db

../data-generators
postman

staticfiles
static/scss/*.css
__pycache__

# Testing
.coverage
.pytest_cache
test-results

# repository
.github
.git
