{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div>
        <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
            <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
                <li class="vf-breadcrumbs__item">
                    <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Search</a>
                </li>
                <li class="vf-breadcrumbs__item" aria-current="location">
                    Genome View
                </li>
            </ul>
        </nav>
    </div>

    <!-- Display the additional information -->
    <div class="vf-box vf-box--primary">
        <h2>{{ species_name }}: {{ isolate_name }}</h2>
        <p><strong>Assembly Name:</strong> {{ assembly_name }}</p>
        <p><strong>ENA Accession:</strong> {{ assembly_accession }}</p>
        <p><strong>Assembly:</strong> <a href="{{ fasta_url }}">{{ fasta_file_name }}</a></p>
        <p><strong>Annotations:</strong> <a href="{{ gff_url }}">{{ gff_file_name }}</a></p>
    </div>

    <!-- Genome Viewer -->
    <h1>Genome Viewer for {{ isolate_name }}</h1>
    <div id="jbrowse" style="height: 600px;"></div>
    <link rel="manifest" href="{% static 'jbrowse/manifest.json' %}"/>
    <script defer src="{% static 'jbrowse/static/js/main.801d882d.js' %}"></script>
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function () {#}
{#            // Check if JBrowseReact is loaded#}
{#            if (window.JBrowseReact && window.JBrowseReact.createView) {#}
{#                const { createView } = window.JBrowseReact;#}
{#                const config = {#}
{#                    assembly: {#}
{#                        name: '{{ assembly_name }}',#}
{#                        sequence: {#}
{#                            type: 'ReferenceSequenceTrack',#}
{#                            trackId: 'reference',#}
{#                            adapter: {#}
{#                                type: 'FromConfigSequenceAdapter',#}
{#                                fastaLocation: {#}
{#                                    uri: '{{ fasta_url }}',#}
{#                                },#}
{#                            },#}
{#                        },#}
{#                    },#}
{#                    tracks: [#}
{#                        {#}
{#                            type: 'FeatureTrack',#}
{#                            trackId: 'annotations',#}
{#                            adapter: {#}
{#                                type: 'FromConfigAdapter',#}
{#                                gffLocation: {#}
{#                                    uri: '{{ gff_url }}',#}
{#                                },#}
{#                            },#}
{#                        },#}
{#                    ],#}
{#                };#}
{#                createView({ config, targetElement: document.getElementById('jbrowse') });#}
{#            } else {#}
{#                console.error('JBrowseReact is not available.');#}
{#            }#}
{#        });#}
{#    </script>#}

{% endblock content %}
