<div class="vf-grid__col--span-3">
    <h2 class="vf-section-header__subheading">Search Genome</h2>
    <form id="search-form" method="GET" action="{% url 'api:search_results' %}"
          class="vf-form vf-form--search vf-form--search--responsive | vf-sidebar vf-sidebar--end">
        <div class="vf-sidebar__inner">
            <div class="vf-form__item">
                <input class="vf-form__input" type="search" id="search-box" name="query" placeholder="Search..."
                       autocomplete="off">
                <input type="hidden" id="hidden-isolate-name" name="isolate-name">
                <div id="suggestions" class="vf-dropdown__menu"></div>
            </div>
            <button type="submit" class="vf-button vf-button--primary vf-button--sm">
                <span class="vf-button__text">Search</span>
            </button>
        </div>
    </form>
</div>

<div class="vf-grid__col--span-3" id="results-table" style="display: {% if results %}block{% else %}none{% endif %};">
    <h3>Search Results</h3>
    <table class="vf-table vf-table--sortable">
        <thead class="vf-table__header">
        <tr class="vf-table__row">
            <th class="vf-table__heading" scope="col">
                <button class="vf-button vf-button--sm vf-button--icon vf-table__button vf-table__button--sortable"
                        data-sort-field="species">
                    Species
                    <svg width="12" height="22" xmlns="http://www.w3.org/2000/svg">
                        <path id="vf-table--sortable-top-arrow" d="M6 0l6 10H0z"></path>
                        <path id="vf-table--sortable-bottom-arrow" d="M6 22L0 12h12z"></path>
                    </svg>
                </button>
            </th>
            <th class="vf-table__heading" scope="col">
                <button class="vf-button vf-button--sm vf-button--icon vf-table__button vf-table__button--sortable"
                        data-sort-field="isolate_name">
                    Strain
                    <svg width="12" height="22" xmlns="http://www.w3.org/2000/svg">
                        <path id="vf-table--sortable-top-arrow" d="M6 0l6 10H0z"></path>
                        <path id="vf-table--sortable-bottom-arrow" d="M6 22L0 12h12z"></path>
                    </svg>
                </button>
            </th>
            <th class="vf-table__heading" scope="col">Assembly</th>
            <th class="vf-table__heading" scope="col">Annotations</th>
            <th class="vf-table__heading" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="vf-table__body">
        {#dynamic content#}
        </tbody>
        <tfoot class="vf-table__footer">
        <tr class="vf-table__row">
            <td class="vf-table__cell" colspan="100">
                <nav class="vf-pagination" aria-label="Pagination">
                    <ul class="vf-pagination__list"></ul>
                </nav>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
