.graphContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cytoscapeContainer {
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

