.mainContainer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.vfContent {
  width: 100% !important;
  min-width: 800px;
  float: left !important;
  padding-right: 20px;
  justify-content: normal;
}

.jbrowseViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
}

.jbrowseContainer {
  width: 100%;
  height: 600px;
  overflow: hidden;
  min-width: 800px;
}

.geneSearchContainer {
  paddingLeft: '5px';
  paddingTop: '5px';
  position: relative;
  z-index: 1;
}



.breadcrumbsItem {
  display: inline-block;
  margin-right: 5px;
}

.breadcrumbsItem::after {
  content: none !important;
}

.separator {
  display: inline-block;
  margin: 0 5px;
  color: #000;
}

.iconDownTriangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0072CE;
  display: inline-block;
  margin-left: 5px;
}

.dropdownList {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px;
  margin: 0;
  z-index: 1000;
}

.dropdownItem {
  margin: 5px 0;
}

.dropdownLink {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  display: block;
}

.dropdownLink:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdownList {
  display: block;
}

.sidePanel {
  height: 500px;
}

div[class*="css-1m091n1-MuiPaper-root-paper"] {
  height: 470px !important;
}

div[class*="css-1un22rt-paper"] {
  height: 470px !important;
}

div[class*="css-i6g01c-MuiPaper-root-paper"] {
  height: 470px !important;
}

div[class*="css-1r54kk3-root"] {
  height: 47vh !important;
}

header[data-testid="jbrowse-header"] {
    display: none !important;
}

header.MuiPaper-root.MuiAppBar-root[class*="css-"] {
    display: none !important;
}

header[class*="MuiAppBar-root"][class*="css-"] {
    display: none !important;
}



