
.vfContent {
  width: 70% !important;
  float: left !important;
}

.vfGridColSpan3 {
  width: 30%;
  float: right;
}

.vfDropdown {
  width:14rem !important;

}

.vfDropdownLable {
  text-align: left !important;

}