
.vfContent {
  width: 70% !important;
  float: left !important;
}

.vfGridColSpan3 {
  width: 30%;
  float: right;
}

.vf-form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
