body {
    margin: 0;
}

.vf-hero {
  margin-top: 0;
}

.vf-table__cell {
  font-size: 16px;
}

.vf-table__footer {
    background-color: #ffffff;
}

.vf-dropdown__menu {
  background-color: white;
  position: absolute;
  max-height: 150px;
  overflow-y: auto;
}

.vf-table {
  width: 100%;
}
