.container {
  //padding: 1rem;
  background-color: #ffffff;
  border: 0px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

.filterItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}

input[type='checkbox']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabledMessage {
  color: #999;
  font-style: italic;
}

/* New styles for the icon and label */
.filterItem .icon {
  margin-right: 0.5rem;
  font-size: 1.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterItem .label {
  font-size: 1rem;
  color: #333;
}
