.facetGroup {
  margin-bottom: 1.5rem;
}

.groupTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.searchInput {
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 200px;
  box-sizing: border-box;
}

.facetList {
  list-style: none;
  padding-left: 0;
  margin: 0;
  max-height: 260px;
  overflow-y: auto;
  border: 0px solid #e0e0e0;
  border-radius: 4px;

    cursor: pointer;
}

.facetList label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.facetList li {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.disabledFacet {
  color: #aaa;
}

.countBadge {
  background: #d0d0d0;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-left: 6px;
}

.loadMoreSection {
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.loadMoreButton {
  background-color: #444; //grey
  //background-color: #3B6FB6; //ebi blue
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.85rem;
  border-radius: 4px;
}

.entryNote {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

// pop up
.infoIcon {
  font-size: 0.9rem;
  margin-left: 6px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.popoverContent {
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  width: 420px;
  max-width: 90vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.popoverInner {
  font-size: 0.9rem;
  line-height: 1.4;
}

.advancedOptions {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
  margin: 0.3rem 0 0.5rem 0;

  label {
    margin-right: 0.1rem;
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 0.2rem;
  }
}

.simpleInfoIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f0f8ff; /* very light blue background (AliceBlue) */
  color: #007bff; /* Bootstrap blue / vibrant blue */
  font-size: 12px;
  font-style: italic; /* make "i" italic */
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5rem;
  border: 1px solid #007bff; /* same blue border */
  user-select: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.simpleInfoIcon:hover {
  background-color: #e0f0ff; /* slightly darker on hover */
}
