.vf-form__input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.vf-form__item {
  width: 70% !important;
}

.vf-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.vfFormItem {
  width: 100% !important;
}

.vf-form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.vfDropdownMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  width: calc(100% - 100px);
  z-index: 1000;
}


.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}