params {
    fasta_dir = ''
    gff_base = ''
    map_tsv = ''
    gff_dir_template = '{base}/{isolate}/functional_annotation/merged_gff'
    out = "${projectDir}/../../data/generated/browser-indexes"
    release = 'v1'
    index_base_url = ''
    only = 'all'
    isolates = ''
    skip_missing = false
}

manifest {
    name = 'mett-browser-indexes'
    description = 'JBrowse FASTA and GFF indexes for METT genomes'
    nextflowVersion = '>=22.10.0'
}

process {
    cpus = 1
    memory = '2 GB'
}

profiles {
    hd {
        params.fasta_dir = '/pub/databases/mett/all_hd_isolates/deduplicated_assemblies'
        params.gff_base = '/pub/databases/mett/annotations/v1_2024-04-15'
        params.map_tsv = "${projectDir}/../../data/reference/gff-assembly-prefixes.tsv"
    }
    '20hm' {
        params.fasta_dir = '/Users/vikasg/Documents/mett-portal/ws/20HM/data/mettannotator/fasta'
        params.gff_base = '/Users/vikasg/Documents/mett-portal/ws/mett-dataportal/data-generators/data/generated/mettannotator'
        params.map_tsv = "${projectDir}/../../data/reference/gff-assembly-prefixes-20hm.tsv"
    }
}
