
.vfGenomeSection {
  float: left;
  width: 100%;
}

.leftPane {
  text-align: left;
  width: 15%;
  float: left;
}

.rightPane {
  width: 85%;
  float: right;
}


.vfGenomeSubHeading {
  width: 100%;
  float: right;
}

.vf-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.vf-sidebar__inner {
  position: relative;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pageSizeDropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageSizeSelect {
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.pageSizeSelect:hover {
  border-color: #555;
  cursor: pointer;
}


.vf-button--sm {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 7px !important;
  font-size: 12px !important;
}

.paginationBar {
  margin-right: 300px;
}

.rightPaneButtons {
  float: right;
}

