
.vfGeneSection {
  float: left;
  width: 100%;
}

.vfGenomeSubHeading {
  width: 100%;
  float: right;
}

.vf-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.vf-sidebar__inner {
  position: relative;
}

