.vf-table {
  width: 100%;
}

.vfColumnSelectorBtn {
  white-space: nowrap;
  margin-bottom: 8px;
}

.vfDownloadBtn {
  white-space: nowrap;
  margin-bottom: 8px;
  margin-left: 8px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 1rem;
}

.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  z-index: 999;
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.columnSelectorTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
}

.columnSelectorContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 1rem;

  input {
    margin-right: 0.5rem;
  }
}

.closeBtn {
  margin-top: 1.5rem;
  background-color: #eee;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: #ddd;
  }
}

.errorText {
  color: red;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.vfTableRow {
  &:nth-child(even) {
    background-color: #f5f5f5; // light grey
  }

  &:hover {
    background-color: #e0ebf7; // optional: hover effect
  }
}


.vfTableCell {
  font-size: 15px !important;
  text-align: left;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.vfTableCellIcon {
  text-align: center;
  vertical-align: middle;
}

.vfTableHeading {
  font-size: 16px !important;
  text-align: left !important;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.vfTableFooter {
  background-color: #ffffff !important;
}

.clickableHeader {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.toggleButton {
  width: 25px;
  height: 25px;
  background-color: #3b6fb6;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.toggleButton:hover {
  background-color: darkblue;
}

.essentialityIcon {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  justify-content: center;
  cursor: pointer;
}


.iconBlack {
  color: #555;
}

.externalIcon {
  font-size: 12px;
  color: #555;
}