.breadcrumbList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbItem {
  display: inline-block;
  margin-right: 0;
}

.separator {
  color: #666;
  margin: 0 0.25rem;
  display: inline-block;
}

