name: Dev - Build and Publish ME TT Data Portal Images (Django APIs & React App)

on:

  workflow_dispatch:

jobs:
  # Dev build for Django API
  build-and-push-django-dev:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: ${{ github.ref_name }}
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Quay.io
        env:
          DOCKER_CONFIG_JSON: ${{ secrets.QUAY_DOCKER_CONFIG }}
        run: |
          echo "$DOCKER_CONFIG_JSON" > ~/.docker/config.json

      - name: Build the Django Docker image (Dev)
        run: |
          docker build -t quay.io/microbiome-informatics/mett-dataportal-api:${{ env.IMAGE_TAG }} \
            --build-arg DJANGO_FORCE_SCRIPT_NAME=/apidev \
            --build-arg DJANGO_STATIC_URL=/apidev-static/ \
            -f ./dataportal_api/Dockerfile .

      - name: Push the Django Docker image (Dev)
        run: |
          docker push quay.io/microbiome-informatics/mett-dataportal-api:${{ env.IMAGE_TAG }}

  # Dev build for React app
  build-and-push-react-dev:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: ${{ github.ref_name }}
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Quay.io
        env:
          DOCKER_CONFIG_JSON: ${{ secrets.QUAY_DOCKER_CONFIG }}
        run: |
          echo "$DOCKER_CONFIG_JSON" > ~/.docker/config.json

      - name: Build the React Docker image (Dev)
        run: |
          docker build -t quay.io/microbiome-informatics/mett-dataportal-react-app:${{ env.IMAGE_TAG }} \
            --build-arg VITE_BASENAME=/appdev \
            -f ./dataportal-app/Dockerfile .

      - name: Push the React Docker image (Dev)
        run: |
          docker push quay.io/microbiome-informatics/mett-dataportal-react-app:${{ env.IMAGE_TAG }}
